.movie{
  width: 400px;
  margin-bottom: 20px;
  height: min-content;
}

.movie-home{
  width: 400px;
  margin-bottom: 20px;
  height: min-content;
}

.profilepic{
  width: 400px;
  height: 600px;
  object-fit: cover;
}

.profilepic-home{
  width: 400px;
  height: 600px;
  object-fit: cover;
}

.title{
  font-size: 20px;
  margin: 0;
}

.summary{
  margin-top: 0;
}

.rating{
  font-size: 20px;
  font-weight: bold;
}

.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-container{
  margin-top:30px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main-container-home{
  margin-top:30px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.like-dislike{
  display: flex;
  align-items: flex-start;
}

.like-dislike button{
  margin-left: 10px;
}

.add-movie{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  gap: 10px;
}

.add-User{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  gap: 10px;
}

.input{
  width: 80%;
}

.add{
  margin-top: 20px;
  font-size: 25px;
  margin-bottom: 20px;
  width: 80%;
}


.add:hover{
  cursor: pointer;
}

.profilepic1{
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
  }

  .users{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
  }

  .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .css-i4bv87-MuiSvgIcon-root{
    padding-right: 5px;
  }

  .navbtn button{
    border: 0px;
    font-size: 16px;
    padding: 0px 0px;
    margin: 10px 20px;
    background-color: transparent;
  }

  .navbtn button{
    font-weight: bold;
    text-decoration: none;
    position: relative;
  }

  .navbtn button::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 3px;
    background-color: white;
    left: 50%;
    bottom: -10px;
    transition: all 0.2s ease-in-out;
  }

  .navbtn button:hover{
    cursor: pointer;
  }

  .navbtn button:hover::after{
    cursor: pointer;
    width: 100%;
    left: 0;
  }
  
  .navbtn1 button{
    border: 0px;
    font-size: 16px;
    padding: 0px 0px;
    margin: 10px 20px;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
  }

  .btn-info:hover{
    cursor: pointer;
  }

  .btn-sum:hover{
    cursor: pointer;
  }

  .home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .main-container-info{
    margin-top:30px ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .movie-info{
    width: 80%;
    margin-bottom: 20px;
  }

.head-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.back-btn button{
  margin-top: 50px;
  border-radius: 10px;
  padding: 8px 8px;
}

.add-color{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.actions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbtn-low{
  display: none;
}
.navbtn2{
  display: none;
}
.menu{
  display: none;
}
.menu2{
  display: none;
}

@media only screen and (max-width:850px){
  .navbtn{
    display: none;
  }
  .navbtn-low{
    display: flex;
    flex-direction: column;
  }
  .navbtn-low button{
    border: 0px;
    font-size: 16px;
    padding: 0px 0px;
    margin: 10px 20px;
    background-color: transparent;
  }

  .navbtn-low button{
    font-weight: bold;
    text-decoration: none;
    position: relative;
    margin-left: 0px;
  }

  .navbtn-low button::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 3px;
    background-color: white;
    left: 50%;
    bottom: -10px;
    transition: all 0.2s ease-in-out;
  }

  .navbtn-low button:hover{
    cursor: pointer;
  }

  .navbtn-low button:hover::after{
    cursor: pointer;
    width: 100%;
    left: 0;
  }

  .navbar{
    display: flex;
    flex-direction: column;
  }
  .navbtn1{
    display: none;
  }
  .navbtn2{
    display: block;
  }
  .navbtn-low{
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: auto;
  }
  .navbtn2 button{
    border: 0px;
    font-size: 16px;
    padding: 0px 0px;
    margin: 10px 20px;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
    margin-left: 0px;
  }

  .menu{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}