
.main{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
  grid-gap: 1rem;
  gap: 1rem;
  justify-items: center;
  padding-left: 50px;
  padding-top: 35px;
}


.movie{
  flex-basis: 20%;
}

img{
  height: 650px;
  width: 90%;
  object-fit: cover;
}

h1{
  font-size: 22px;
}

.head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title{
flex-basis: 60%;
}

.rating{
  flex-basis: 25%;
}

p{
  width:90%;
  font-weight:500;
}